.title {
  height: 20vh;
  text-align: center;
}
.title > h1 {
  margin-top: 10vh;
}
.container {
  display: flex;
  width: 100vw;
  height: auto;
}
.library {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 60vw;
  height: 100vh;
}

.form {
  width: 30vw;
}

button {
  width: 200px;
}

.library > div {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  padding: 20px;
}
